{{!-- e.g. navigation__item--active --}}
<header class="header">
  <div class="header__logo"></div>
  <nav class="header__navigation header__navigation--main">
    <ul>
      <li><a href="#"></a></li>
      <li></li>
    </ul>
  </nav>
</header>

<h2 id="title">Welcome to Ember</h2>

{{outlet}}
